thead {
    background-color: #b4c463;
    color: black
}

td {
    padding: 35px 0;
    text-align: center;
}

table {
    border: 10px solid black;
    border-collapse: collapse;
    border-style: solid;
    color: white;
    background-color: #02030c;
}

th:nth-child(1) {
    width: 25%;
}

th:nth-child(4) {
    width: 40%;
}

tr:hover {
    background-color: gray;
}